/* Write your CSS here */
.footer-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
  margin-top: 10px;
  border: none;
}

.footer-heading {
  font-family: 'Roboto';
  color: #475569;
  font-size: 18px;
  font-weight: bold;
}
